# OpenAI API Key
OPENAI_API_KEY=http://127.0.0.1:1234

# Anthropic API Key
ANTHROPIC_API_KEY=http://127.0.0.1:1234

# Other API Keys
SERPAPI_API_KEY=http://127.0.0.1:1234

ANYTHING_API_KEY=EY0HJCT-N0J4DT6-H13DR44-178G10B
ANYTHING_WORKSPACE_SLUG=70879849-68a6-493f-8719-793bae1fdccd
